.btncss{
    background-color: #b21368;
}
.heading{
    color: #b21368;
}
.md\:my-20{
    margin-bottom: 0rem;
}
.formcontrol{
    border: 1px solid black;
}
.btncolor{
    background-color: #b21368;
}
